# Color highlighting of output makes stuff easier to read
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = green reverse
    local = green
    remote = yellow
[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow bold
    changed = red bold
    untracked = cyan
[alias]
    # The "lol" alias stands for "log one line" and
    # shows a great summary of your repo
    lol = log --oneline --graph --decorate
    unstage = reset HEAD
    co = checkout
    st = status

    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
    alias = !sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -

    # Delete all remote branches that have been merged. Excluding master and jenkins.
    cr = !git branch -r --merged origin | grep -E '^[[:space:]]*origin' | grep -v -E 'master|jenkins' | cut -d'/' -f2 | xargs -n 1 -I{} git push origin :{}

    # Delete all loacl branches that have been merged. Excluding the current branch and master.
    cl = !git branch --merged | grep -v -E '*|master' | xargs git branch -d
[core]
    excludesfile = /Users/mgreenfield/.gitignore
    autocrlf = false
[diff]
    # For Github-style word diffs
    wordRegex = [^[:space:]]
